
{% set posts = testercontent.posts %}
<div class="container">
   
    <article id="72" class="post">
        <div class="post-head">
            <h1 class="post-title">{{ posts.id }}</h1>
            <h2 class="post-title">{{ posts.pic }}</h2>
           
{% if posts.thepic.count %}
<div class="featured-images text-center">
    {% for image in posts.thepic %}
    <p>
        <img
                data-src="{{ image.filename }}"
                src="{{ image.path }}"
                alt="{{ image.description }}"
                style="max-width: 100%" />
    </p>
    {% endfor %}
</div>
{% endif %}

        </div>
</div>