
{% set posts = articlethelist.posts %}
 {% set pp = articlethelist.pp %}
<div class="container">
    {% for post in posts %}
    <article id="72" class="post">
        <div class="post-head">
            <h1 class="post-title"><a href="/article/content/{{post.id}}" target="_blank">{{ post.title }}</a></h1>
            
        </div>

    {% endfor %}
     {{ posts.render|raw }}
     
     
    

    {% for p in pp %}
    <article id="72" class="post">
        <div class="post-head">
            <h1 class="post-title"><a href="/blog/post/{{p.slug}}" target="_blank">{{ p.title }}</a></h1>
            
        </div>

    {% endfor %}
     {{ pp.render|raw }}
</div>

