<!-- footer begin -->

<footer>
<div class="bgImge" style="background: url({{'assets/img/1.jpg' |theme}}) no-repeat center top fixed;background-size:cover">
  <div class="background-overlay">
    <div class="footer" >
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-7 col-xs-8 animate-box companyGroup">
              <div class="saoArea">
                <p>溱为科技有限公司</p>
                <p><i class="icon-map-marker"></i> 北京朝阳区酒仙桥兆维工业园</p>
                <p><i class="icon-phone"></i>电话：400-9091-797</p>
                <p><i class="icon-envelope"></i>邮箱</p>
                <img src="{{ 'assets/img/erweima.png'|theme }}" alt="">
                <p>微信公众号：薄荷牙医</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-5 col-xs-4 animate-box doctorGroup" style="padding-bottom:100px;">
            <dl>
              <dt>医生团队</dt>
              <dd>口腔科医生</dd>
              <dd>口腔科医生</dd>
              <dd>口腔科医生</dd>
              <dd>口腔科医生</dd>
              <dd>口腔科医生</dd>

            </dl>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 animate-box serviceGroup">
            <dl>
              <dt>服务项目</dt>
              <dd>洗牙</dd>
              <dd>洗牙</dd>
              <dd>洗牙</dd>
              <dd>洗牙</dd>
              <dd>洗牙</dd>
            </dl>
            <dl>
              <dt>薄荷百科</dt>
              <dd>洗牙文章</dd>
              <dd>洗牙文章</dd>
              <dd>洗牙文章</dd>
              <dd>洗牙文章</dd>
              <dd>洗牙文章</dd>
            </dl>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 animate-box questionGroup">
            <dl>
              <dt>我要提问</dt>
          <dd>
            <form class="contact-form">
              <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="name" class="form-control" id="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="message" class="sr-only">Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Message"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
              </div>
            </form>
            </dd>
          </dl>
          </div>
        </div>
        </div>
         </div>
        </div>
       </div>
    <div class="bottomRow">
      <div class="container">
        <div class="row copy-right">
          <div class="col-md-6 col-md-offset-3 text-center" >
            <a><p>溱洧科技(北京)有限公司 版权所有京ICP备16036712<p></a>

        </div>

      </div>
    </div>
    </div>
  </footer>
<!-- footer end  -->
